{% extends '../base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/password_reset_form.css' %}"/>
{% endblock %}

{% block content %}
<section class="flex justify-center py-4 px-2">
    <div class="">
        <div class="py-2">
            <h3 class="text-2xl font-bold title-font mb-4">Forgot password?</h3><hr/>
            <p class="font-medium text-gray-500 mt-4">An email with a link to reset the password will be sent to the email. Please make sure that the email is associated with an account.</p>
        </div>
        <form method="post" class="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background-color: #ff4242" class="border-2 text-white rounded-md p-2 mt-4 font-medium">Submit</button>
        </form>
    </div>
</section>
{% endblock %}