{% extends '../base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/password_reset_form.css' %}"/>
{% endblock %}

{% block content %}
<section class="flex justify-center py-4">
    <div>
        <div class="py-2">
            <h3 class="text-2xl font-medium title-font">Forgot password?</h3>
            <p class="font-medium text-gray-500">Enter email address linked to your account</p>
        </div>
        <form method="post" class="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" style="background-color: #ff4242" class="border-2 text-white rounded-md p-2 mt-4 font-medium">Submit</button>
        </form>
    </div>
</section>
{% endblock %}