{% extends '../base.html' %}

{% block content %}
<section class="flex justify-center items-stretch px-2 my-4">
  <div class="min-h-screen">
    <h1 class="text-3xl font-bold mb-4">Password Reset Email Sent</h1><hr/>
    <p class="my-4 max-w-md text-lg text-justify">
      An email has been sent to the email address associated with your account. Please follow the link in the email for further instructions on how to reset your password. For further questions, please call (918) 561-6863 or email storkdistro@gmail.com.
    </p>
    <p class='my-4 max-w-md text-lg'>
      Check span folders and junk files to find the email if not found in the inbox.
    </p>
    <a href={% url "store:home" %} class="font-medium text-cyan-600">< back to store</a>
  </div>
</section>
{% endblock %}