#id_new_password1, 
#id_new_password2 {
    border-width: 2px;
    border-color: rgb(229 231 235);
    border-radius: 0.25rem;
    background-color: rgb(229 231 235);
    margin: 0.5rem 0;
}
label {
    color: grey;
    font-weight: 500;
    display: block;
}
button {
    border-color: rgb(8 145 178);
    color: orange;
    font-weight: 500;
}