#id_email {
    border-width: 2px;
    border-color: rgb(229 231 235);
    border-radius: 0.25rem;
    background-color: rgb(229 231 235);
}
label {
    color: grey;
    font-weight: 500;
    display: block;
    margin-bottom: 0.5rem;
}