#id_email,
#id_password,
#id_last_name,
#id_phone_number,
#id_username,
#id_certificates,
#id_website {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.25rem;
    border-bottom: 2px solid gray;
    background-color: rgb(229 231 235);
    border-width: 2px;
    border-color: rgb(229 231 235); 
    border-radius: 0.25rem;
    color: rgb(107 114 128);
} 

#id_email:focus,
#id_password:focus,
#id_last_name:focus,
#id_phone_number:focus,
#id_username:focus,
#id_certificates:focus,
#id_website:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: rgb(8 145 178);
} 