{% extends "./base.html" %}
{% load static %}

{% block content %}

<!-- Discounts -->
<div style="background: #eee758" class="py-2 text-sm tracking-wide font-medium text-center">
  Visit our Facebook page <a href="https://www.facebook.com/stork.distributions" class="underline font-medium">here</a>
</div>

<!-- Announcements -->
<section class="">
  <div class="container min-w-full">
    <img alt="store" class="object-cover object-center w-fit" src="{% static 'home_images/banner.png' %}">
  </div>
</section>
<hr/>

<!-- Categories -->
<section class="bg-gray-100">
  <div class="container mx-auto py-2 md:py-4 px-2 sm:px-0">
    <h1 class="sm:text-3xl text-2xl font-extrabold title-font text-gray-800 hover:text-cyan-600 lg:w-1/3 lg:mb-0 py-1">Shop Categories</h1>
    <div class="flex overflow-x-auto py-4">
      {% for category in categories %}
      <div class="flex-shrink-0 rounded-full mx-1">      
        <a href="{{ category.get_absolute_url }}" class="flex flex-col items-center">
          <img alt="image of a category of product" class="rounded-full shadow-md object-cover object-center" src="{{ category.image.url }}" style="height:72px;width:72px;">     
          <p class="mt-2 font-medium text-sm text-center text-gray-500">{{ category.name }}</p>   
      </a>
      </div> 
      {% endfor %}
    </div>
  </div>
</section>


<!-- Search and Navs -->
<section class="container mx-auto py-2 md:py-4 px-2">
  <div class="flex justify-center">
    <div class="border-2 border-cyan-400 p-2 rounded-lg">
      <a href="{% url 'store:category_list' slug='accessories' %}" class="no-underline text-sm font-medium">View All Products</a>
    </div>
  </div>
</section>


<!-- BEST SELLERS -->
<section class="bg-white text-gray-600 body-font">
    <div class="container mx-auto py-4 md:py-8 px-2 sm:px-0">
        <div class="w-full flex-wrap mb-4 lg:mb-8">
            <h1 class="text-2xl sm:text-3xl font-extrabold title-font text-gray-800 hover:text-cyan-600 lg:w-1/3 lg:mb-0 mb-4">New Arrivals</h1>
            <p class="lg:pl-6 lg:w-2/3 mx-auto leading-relaxed text-base"></p>
        </div>
        <!-- Product Cards -->
        <div class="grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-8">
          {% for product in new_arrivals %}
          <div class="flex flex-col justify-between content-start py-4 px-4 shadow-md rounded-lg">
            <a class="flex justify-center content-center self-center rounded overflow-hidden" href="{{ product.get_absolute_url }}">
              <img alt="new_arrivals" class="object-cover object-center" src="{{ product.image.url }}">
            </a>

            <div class="my-2">
              <h3 class="text-gray-500 text-xs tracking-widest title-font my-1">{{ product.category }}</h3>
              <h2 class="text-gray-900 body-font text-md font-medium leading-4 my-1">{{ product.name }}</h2>
            </div>

            <div class="justify-self-end mt-4">
              <a href="{{ product.get_absolute_url }}" class="no-underline">
                <div class="bg-cyan-600 hover:bg-cyan-800 text-white text-center font-medium py-2 px-4 rounded-md w-full">View Product</div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>

<!-- Banner -->
<section class="bg-gray-800">
  <div class="container md:flex justify-between mx-auto">
    <img alt="products" class="object-cover object-center h-64 w-full" src="{% static 'home_images/left.png' %}">
    <img alt="products" class="object-cover object-center w-full h-64" src="{% static 'home_images/right.png' %}">
  </div>
</section>

<!-- Custom Designs -->
<section class="bg-gray-800 lg:py-8 lg:flex lg:justify-center lg:min-h-full">
  <div class="">
    <div class="max-w-2xl mx-auto py-12 px-4 grid items-center grid-cols-1 gap-y-16 gap-x-8 sm:px-6 lg:max-w-7xl lg:px-8 lg:grid-cols-2">
      <div>
        <h2 class="text-2xl font-extrabold tracking-tight text-gray-200 sm:text-4xl">Custom Designs<p class="text-lg font-medium">Coming soon . . . .</p></h2>
        <p class="mt-4 text-gray-400">Create custom designs specific to the packaging needs of your business. Contact us to consult on a design and get quotes on your order.</p>
  
        <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-lg text-gray-200">Size</dt>
            <dd class="mt-2 text-sm text-gray-400">All our available sizes.</dd>
          </div>
  
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-lg text-gray-200">Material</dt>
            <dd class="mt-2 text-sm text-gray-400">List of materials available to choose from.</dd>
          </div>
  
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-lg text-gray-200">Dimensions</dt>
            <dd class="mt-2 text-sm text-gray-400">Ask for options to choose from</dd>
          </div>
  
          <div class="border-t border-gray-200 pt-4">
            <dt class="font-medium text-lg text-gray-200">Finish</dt>
            <dd class="mt-2 text-sm text-gray-400">Crafted to your needs.</dd>
          </div>

        </dl>
      </div>
      <div class="grid grid-cols-2 grid-rows-2 gap-4 sm:gap-6 lg:gap-8">
        <img src="{% static 'custom_images/custom_branding_concentrate.png' %}" alt="Custom-made concentrate box" class="bg-gray-100 rounded-lg">
        <img src="{% static 'custom_images/custom_cartridge_box.png' %}" alt="A flip top custom made cartridge box" class="bg-gray-100 rounded-lg">
        <img src="{% static 'custom_images/custom_droper.png' %}" alt="Custom-made fropper and container" class="bg-gray-100 rounded-lg">
        <img src="{% static 'custom_images/custom_mylar_bag.png' %}" alt="Custom-made mylar bag" class="bg-gray-100 rounded-lg">
      </div>
    </div>
  </div>
</section>

<!-- Featured -->
<section class="bg-white my-1 text-gray-600 body-font">
  <div class="container mx-auto py-4 md:py-8 px-2 sm:px-0">
      <div class="w-full flex-wrap mb-4 lg:mb-8">
        <h1 class="sm:text-3xl text-2xl font-extrabold title-font text-gray-800 hover:text-cyan-600 lg:w-1/3 lg:mb-0 mb-4">Featured Products</h1>
      </div>
      <!-- Product Cards -->
      <div class="grid grid-cols-2 gap-2 lg:grid-cols-4 lg:gap-8">
        {% for product in featured %}
        <div class="flex flex-col justify-between content-center py-4 px-4 shadow-md rounded-lg">
          
          <a class="flex justify-center content-center self-center rounded overflow-hidden" href="{{ product.get_absolute_url }}">
            <img alt="new_arrivals" class="object-cover object-center" src="{{ product.image.url }}">
          </a>

          <div class="my-2">
            <h3 class="text-gray-500 text-xs tracking-widest title-font my-1">{{ product.category }}</h3>
            <h2 class="text-gray-900 body-font text-md font-medium leading-4 my-1">{{ product.name }}</h2>
          </div>

          <div class="justify-self-end mt-4">
            {% if user.is_authenticated %}
              <a href="{{ product.get_absolute_url }}" class="no-underline">
                <div class="bg-cyan-600 hover:bg-cyan-800 text-white text-center font-medium py-2 px-4 rounded-md w-full">View Product</div>
              </a>
            {%else %}
              <a href="{% url 'store:login' %}" class="no-underline">
                <div class="bg-cyan-600 hover:bg-cyan-800 text-white text-center font-medium py-2 px-4 rounded-md w-full">View Product</div>
              </a>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}