/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#id_email_address,
#id_first_name,
#id_last_name,
#id_phone_number,
#id_pickup_time  {
    line-height: 2rem;
    border-bottom: 2px solid gray;
}

#id_email_address:focus,
#id_first_name:focus,
#id_last_name:focus,
#id_phone_number:focus,
#id_pickup_time:focus {
    border-bottom: 2px solid #0891b2;
}