/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#id_email_address,
#id_first_name,
#id_last_name,
#id_phone_number,
#id_address_line_1,
#id_address_line_2  {
    width: 100%;
    padding: 0.5rem 0 0.5rem 0;
    line-height: 1.25rem;
    border-bottom: 2px solid gray;
    background-color: rgb(229 231 235);
    border-width: 2px;
    border-color: rgb(229 231 235); 
    border-radius: 0.25rem;
    color: rgb(107 114 128);
}

#id_email_address:focus,
#id_first_name:focus,
#id_last_name:focus,
#id_phone_number:focus,
#id_address_line_1:focus,
#id_address_line_2:focus  {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: rgb(8 145 178);
}