/* @tailwind base;
@tailwind components;
@tailwind utilities; */

#id_email_address {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    padding: 1.25px 0px 0.625px 0px;
    margin: 2px 0px 0px 0px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    appearance: none;
    width: 100%;
    outline: none;
}

#id_email_address:focus {
    border-bottom: 2px solid #0891b2;
}

#id_first_name {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    padding: 1.25px 0px 0.625px 0px;
    margin: 2px 0px 0px 0px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    appearance: none;
    width: 100%;
    outline: none;
}

#id_first_name:focus {
    border-bottom: 2px solid #0891b2;
}

#id_last_name {
    display: block;
    font-size: 0.875rem;
    line-height: 1.25rem;
    box-sizing: border-box;
    padding: 1.25px 0px 0.625px 0px;
    margin: 2px 0px 0px 0px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    appearance: none;
    width: 100%;
    outline: none;
}
#id_last_name:focus {
    border-bottom: 2px solid #0891b2;
}

#id_phone_number {
    display: block;
    font-size: 0.875rem;
    box-sizing: border-box;
    padding: 1.25px 0px 0.625px 0px;
    margin: 2px 0px 0px 0px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    appearance: none;
    width: 100%;
    outline: none;
}
#id_phone_number:focus {
    border-bottom: 2px solid #0891b2;
}

#id_pickup_time {
    display: block;
    font-size: 0.875rem;
    box-sizing: border-box;
    padding: 1.250px 0px 0.625px 0px;
    margin: 2px 0px 0px 0px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid gray;
    appearance: none;
    width: 100%;
    outline: none;
}
#id_pickup_time:focus {
    border-bottom: 2px solid #0891b2;
}