{% extends "./../base.html"%}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'store/css/order_form.css' %}"/>
{% endblock %}

{% block content %}
<!-- CART SUMMARY -->
<section class='bg-white'>
    <div class="px-2 py-4 container mx-auto">
        <div class="lg:flex justify-between items-stretch">
            <div class="overflow-x-auto lg:mr-6 grow">
                <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                    <div class="text-gray-600 title-font tracking-wider font-extrabold text-2xl">Cart</div>

                    <div>
                        {% if total is 0 %}
                        <div>No items in cart.</div>
                        {% endif %}
                        {% for item in cart %}
                        {% with product=item.product %}
                        <div class="flex justify-between w-full my-2">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{{ product.image.url }}" class="w-40 object-center object-cover">
                            </a>

                            <div class="flex flex-col justify-between items-end">
                                <a href="{{ product.get_absolute_url }}" class="font-medium text-right">{{ product.name }}</a>
                                <div class="text-gray-500">Unit price: &dollar;{{ product.price }}</div>
                                <div class="text-gray-500">Quantity: {{ item.amount }}</div>
                                <div class="text-gray-500 font-medium">Total: &dollar;{{ item.total_price }}</div>
                                <div>
                                    <a href="{{ product.get_absolute_url }}" class="px-2 text-blue-600  font-medium hover:underline">Update</a>
                                    <!-- turn this to button with onclick ajax function to update cart with action delete -->
                                    <button value="{{ product.id }}" class="delete-cart text-orange-600 font-medium hover:underline">Delete</button>  
                                </div>                        
                            </div>
                        </div>
                        <hr/>
                        {% endwith %}
                        {% endfor %}
                    </div>  
                    <hr/>
                    <div class="flex justify-between my-2">
                        <div class="text-gray-600">
                            <p class='font-extrabold text-lg'>Cart Total:</p> 
                            <p class="text-xs">Minimum $250 for free delivery inside greater Tulsa area.<p>
                            <p class="text-xs">$10 delivery added to total otherwise.<p>
                            {% if left %}
                                <p class="text-xs">Add ${{ left }} more for free delivery!<p>
                            {% else %}                                    
                                <p class="text-xs">Your order qualifies for FREE DELIVERY!<p>
                            {% endif %}
                        </div>
                        <div class="text-lg font-medium">${{ total }}</div>
                    </div>
                </div>                
            </div>

            <!-- FORM -->
            <div class="overflow-x-auto lg:ml-6 grow">
                <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
                    <!-- Order Confirmation Form -->
                    <div class="text-gray-600 title-font font-extrabold text-2xl">Order Confirmation</div>
                    <form class="flex flex-col rounded-lg mt-4" action="{% url "store:cart_summary" %}" method="POST">
                        {% csrf_token %}
                        {{ order_form.non_field_errors }}
                        <!-- Email Address-->
                        <div class="grid grid-cols-1 mb-2">
                            <div class="">
                                <label for="{{ order_form.email_address.id_for_label }}" class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                                    Email Address
                                </label>                
                            </div>
                            <div class="">
                                {{ order_form.email_address.errors }}                           
                                {{ order_form.email_address }}
                            </div>
                        </div>

                        <div class="grid grid-cols-2 gap-2 fieldWrapper">
                            <!-- First Name -->
                            <div class="grid grid-cols-1 mb-2">
                                <div class="">
                                    <label for="{{ order_form.last_name.id_for_label }}" class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                                        {{ order_form.first_name.label }}
                                    </label>                
                                </div>
                                <div class="">
                                    {{ order_form.first_name.errors }}
                                    {{ order_form.first_name }}
                                </div>
                            </div>
                            <!-- Last Name -->
                            <div class="grid grid-cols-1 mb-2">
                                <div class="">
                                    <label for="{{ order_form.last_name.id_for_label }}" class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                                        {{ order_form.last_name.label }}
                                    </label>                
                                </div>
                                <div class="">
                                    {{ order_form.last_name.errors }}
                                    {{ order_form.last_name }}
                                </div>
                            </div>
                        </div>

                        <div class="grid grid-cols-1 mb-2">
                            <div class="">
                                <label for="{{ order_form.phone_number.id_for_label }}" class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                                    {{ order_form.phone_number.label }}
                                </label>                
                            </div>
                            <div class="">
                                {{ order_form.phone_number.errors }}
                                {{ order_form.phone_number }}
                            </div>
                        </div>

                        <div class="grid grid-cols-1 mb-2">
                            <div class="">
                                <label for="{{ order_form.address_line_1.id_for_label }}" class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                                    Address Line 1
                                </label>                
                            </div>
                            <div class="">
                                {{ order_form.address_line_1.errors }}
                                {{ order_form.address_line_1 }}
                            </div>
                        </div>    
                        <div class="grid grid-cols-1 mb-2">
                            <div class="">
                                <label for="{{ order_form.address_line_2.id_for_label }}" class="text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4">
                                    Address Line 2 (Optional)
                                </label>                
                            </div>
                            <div class="">
                                {{ order_form.address_line_2.errors }}
                                {{ order_form.address_line_2 }}
                            </div>
                        </div>  


                        
                        <button class="bg-cyan-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-fit self-center mt-2" type="submit">
                            Confirm Order
                        </button>

                    </form>
                </div>
            </div>
        </div>        
     </div>

     
</section>
{% endblock %}

{% block scripts %}
<script>
// script to update cart with product 

const dellButts = document.querySelectorAll('.delete-cart');

for (var i = 0; i < dellButts.length; i++) {
    const delButton = dellButts[i];
    const product_id = dellButts[i].value;

    delButton.addEventListener('click', function (event) {
        event.preventDefault();      
        $.ajax({
        type: 'POST',
        url: "{% url 'store:update_cart' %}",
        data: {
            product_id: product_id,
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: 'delete',
        },
        success: function (json) {
            $("#cart-items").innerHTML = json.items
        },
        error: function (xhr, errmsg, err) {}
        });
    });
}

</script>
{% endblock %}
