{% extends './../base.html' %}
{% load static %}

{% block content %}
<section class="bg-white">
     <!-- Category Filters for mobile screens -->
     <div class="md:hidden bg-gray-100 px-4" style="position:sticky;top:64px;z-index:25">
        <div class="font-medium text-md text-gray-400 pt-1">Categories</div>
        <div class="flex overflow-x-auto">
        {% for category in categories %}
            <a href="{{ category.get_absolute_url }}" class="block py-2 mr-2 font-medium text-sm text-gray-800" style="white-space:nowrap;">{{ category.name }}</a>
        {% endfor %}
        </div>      
        <hr/>     
    </div>
    <div class="container relative px-4 md:py-4 mx-auto">
        <div class="relative lg:flex lg:-mx-2">
            <!-- Category Filters for large screens -->
            <div class="space-y-3 lg:w-1/5 lg:px-2 mt-2 lg:space-y-4 hidden md:block">
                <div class="font-medium text-md text-gray-400 py-1">Categories</div>
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}" class="block font-medium text-gray-800 no-underline py-1">{{ category.name }}</a>
                {% endfor %}
            </div>
            
            <div class="my-4 lg:mt-0 lg:px-2 lg:w-4/5">
                <!-- List Header-->
                <div class="flex items-end justify-between text-sm tracking-widest uppercase">
                    <div class="text-gray-500 text-xs md:text-base">Showing {{ objects }} of {{ page_obj.paginator.count }} Items</div>
                    <div class="flex items-center">
                        <p class="text-gray-500 dark:text-gray-300">Sort</p>
                        <select class="font-medium border-transparent">
                            <option value="#">Recommended</option>
                            <option value="#">Size</option>
                            <option value="#">Price</option>
                        </select>
                    </div>
                </div> <!-- List Header -->

                <!-- List Items -->
                <div class="grid grid-cols-2 gap-4 -mx-2 mt-8 lg:grid-cols-4">
                    {% for product in products %}
                    <div class="flex flex-col justify-between content-start py-3 px-2 shadow-md rounded-lg">
                        <img class="object-cover object-center w-full rounded-md bg-white" src="{{ product.image.url }}" alt="{{ product.name }}">
                        <div class="flex flex-col grow w-full justify-start items-start text-gray-700 mt-2">
                            <p class="tracking-widest mt-1 text-gray-400 text-xs">{{ product.category }}</p>
                            <h4 class="font-medium grow">{{ product.name }}</h4>

                            {% if request.user.is_authenticated and request.user.is_active %}
                                <p class="text-lg font-medium self-end mt-1 mx-1">&dollar;{{ product.price }}</p>
                            {% elif not request.user.is_active %}
                                <p class="text-sm font-medium text-cyan-600 self-end mt-1 mx-1">Please wait while an admin authorizes your registration</p>
                            {% else %}
                                <a class="text-sm font-medium text-cyan-600 self-end mt-1 mx-1" href="{% url "store:login" %}">Login to see price</a>
                            {% endif %}

                            <a href="{{ product.get_absolute_url }}" class="flex items-center justify-center w-full px-2 py-2 mt-2 font-medium tracking-wide text-white capitalize transition-colors duration-200 transform bg-cyan-600 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-gray-700">
                                <span class="mx-1">View Product</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="pagination flex flex-col justify-center items-center mt-4 w-full">
                    <!-- Previous button -->  
                    <div>
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}" class="inline-flex items-center py-2 px-4 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                        {% endif %}                        
                        <!-- Next Button -->                    
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}" class="inline-flex items-center py-2 px-4 ml-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>                    
                        {% endif %}
                    </div>              

                    <div class="text-sm text-gray-500 font-medium mt-2">
                        Showing {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} pages
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}